@using zajecia3.Models;
@model Dane;
<h1>Rejestracja zakończona pomyślnie</h1>
Potwierdzam Twoje dane:
<br />
Imie : @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Wiek: @Model.Wiek
<br />
Email: @Model.Email
<br />
Hasło: @Model.Haslo
<br />
Potwierdzenia hasła: @Model.PotwierdzenieHasla
<br />
Nr. Telefonu: @Model.NrTelefonu
<br />
Miejscowosc: @Model.WybraneMiasto
